.upper_bar_yellow {
    background-color: #F6DA27;
}

.upper_bar_red {
    background-color: #FF4331;
}

.upper_bar_green {
    background-color: #04BB03;
}

.upper_bar_skyblue {
    background-color: #19A9B6;
}

.btn_exit {
    background-color: black;
    color: #fff;
    font-weight: bolder;
}

@media (min-width: 0px) and (max-width: 768px) {
    /* Para pantallas sm */
}

@media (min-width: 768px) and (max-width: 992px) {
    /* Para pantallas md */
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* Para pantallas lg */
}

@media (min-width: 1200px) {
    /* Para pantallas xl */
}